.ph-form-item {
  display: flex;
  .ph-form-label {
    width: 60px;
    display: inline-block;
    line-height: var(--ph-form-edit-height, 30px);
    flex-shrink: 0;
  }
  .ph-input_wrapper {
    flex-grow: 1;
  }
}
