.ph-input {
  outline: none;
  box-sizing: border-box;
  height: var(--ph-form-edit-height);
  line-height: var(--ph-form-edit-height);
  border: 1px solid #dedede;
  border-radius: var(--ph-input-border-radius, 3px);
  padding: 0 5px;
  transition: border-color 0.3s ease-in-out;
  text-align: inherit;
}
.ph-input:focus {
  border-color: var(--ph-primary-color);
}
